rgb(207, 0, 0)/****** Main Styling ******/

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

p {
    margin: 8px 0 0 0;
}

.container p {
    text-align: center;
    padding: 0;
}

/****** Logo Div Styling ******/

img {
    margin: 20px auto 0 auto;
    display: block;
}

.clementine-text { /* Styling for the Clementine.js text */
    padding: 0;
    margin: -25px 0 0 0;
    font-weight: 500;
    font-size: 60px;
    color: #FFA000;
}

/****** Click Styling ******/

.btn-container {    /* Styling for the div that contains the buttons */
    margin: -10px auto 0 auto;
    text-align: center;
}

.btn {  /* Styling for buttons */
    margin: 0 8px;
    color: white;
    background-color: #00BCD4;
    display: inline-block;
    border: 0;
    font-size: 14px;
    border-radius: 3px;
    padding: 10px 5px;
    width: 100px;
    font-weight: 500;
}

.btn:focus {    /* Remove outline when hovering over button */
    outline: none;
}

.btn:active {   /* Scale the button down by 10% when clicking on button */
    transform: scale(0.9, 0.9);
    -webkit-transform: scale(0.9, 0.9);
    -moz-transform: scale(0.9, 0.9);
}

.btn-delete {   /* Styling for delete button */
    background-color: #ECEFF1;
    color: #212121;
}
[ng-cloak] {
  display: none !important;
}

[ng-cloak] {
  display: none !important;
}

.bg-1 {
  background-color: #283a73; /* Green */
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}

.bg-2 {
    background-color: rgb(247, 247, 247);
    color: #555555;
    padding: 0 100px 0 100px;
}

.container-fluid {
    padding-top: 40px;
    padding-bottom: 40px;
}

.sign-up {
  background-color: #555555;
  color: rgb(247, 247, 247);
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}

.navbar-nav li a:hover {
    color: #c60000 !important;
}

.bg-pollform {
    background-color: rgb(247, 247, 247);
    color: #555555;
    padding: 20px 50px 40px 50px;
}

#heading {
  font-size: 50px;
  font-weight:600;
}

#equalsPic {
  height: 100px;
  margin-bottom: 10px;
}

.bottom-bg {
  background-color: #283a73; /* Green */
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  height: 300px;
}

#listofpolls li {
    list-style-type: none;
}

#listofpolls {
  margin-right: 45px;
}

.radio {
  padding-bottom: 10px;
}

#title {
  margin-bottom: -30px;
}

#delete-buttons {
  background-color: rgb(207, 0, 0);
}
